<div class="others">
    <nav class="container-nav">
        <div class="logo">
            <a href="/profile">
                <p>BandMate</p>
            </a>
        </div>
        <div>
            <ul class="list">
                <li class="navbar-links"><a href="/search"><i class="fas fa-search"></i></a></li>
                <li class="navbar-links"><a href="#">Sobre</a></li>
                <li class="navbar-links"><a href="/logout">Logout</a></li>
                <li id="profile-icon"><a href="/profile"><i class="fas fa-user-circle fa-2x"></i></a></li>
            </ul>
        </div>
    </nav>


    <section>
        <div class="profile-container">
            <div class="left-side">
                <div class="name">
                    <h1>{{visitedProfile.name}} {{visitedProfile.lastName}}</h1>
                    <h4>{{visitedProfile.username}}</h4>
                </div>
                <div class="bio">
                    <p>{{visitedProfile.bio}}</p>
                </div>
                {{#unless invitationId}}
                {{#unless user}}
                <form action="/profile/{{visitedProfile._id}}" method="POST">
                    <div class="invitation-button-border">
                        <div class="invitation">
                            <input type="submit" value="Convidar">
                        </div>
                    </div>
                </form>
                {{/unless}}
                {{/unless}}

                {{#if invitationId}}
                    <div class="invitation-button-border">
                        <div class="invitation">
                            <input type="submit" value="Enviado">
                        </div>
                    </div>
                {{/if}}
            </div>

            <div class="center">
                <div>
                    <img src="{{visitedProfile.imgPath}}" alt="profile photo">
                </div>
            </div>

            <div class="right-side">
                <div class="profile">
                    <div class="profile-edit">
                        <h1>Perfil </h1>
                    </div>
                    <h4 class="specialty-level">{{visitedProfile.specialty}} ({{visitedProfile.level}})</h4>
                    <p>{{visitedProfile.city}} / {{visitedProfile.state}}</p>
                    <p>{{visitedProfile.musicalInfluence}}</p>
                </div>
                <div class="personal-info">
                    <h1>Informações Pessoais</h1>
                    <p>{{visitedProfile.facebook}}</p>
                    <p>{{visitedProfile.instagram}}</p>
                    <p>{{visitedProfile.email}}</p>
                    {{#if visitedProfile.age}}
                    <p>{{visitedProfile.age}} anos</p>
                    {{/if}}
                    <p>{{visitedProfile.gender}}</p>
                </div>
            </div>
            {{#if user}}
            <div class="invitation-card">
                <h1>Envie um E-mail para {{visitedProfile.username}}</h1>
                <form action="/send-email" method="post">
                    <input type="hidden" name="email" value="{{visitedProfile.email}}">
                    <input type="hidden" name="subject"
                        value="BandMate - {{visitedProfile.username}} te enviou uma mensagem">
                    <label for="">Mensagem:</label>
                    <textarea type="text" name="message" id=""></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
            {{/if}}
        </div>
    </section>

    <footer>
        <div>

        </div>
    </footer>
</div>