<div class="others">
    <nav class="container-nav">
        <div class="logo">
            <a href="/profile">
                <p>BandMate</p>
            </a>
        </div>
        <div>
            <ul class="list">
                <li class="navbar-links"><a href="/search"><i class="fas fa-search"></i></a></li>
                <li class="navbar-links"><a href="#">Sobre</a></li>
                <div class="drop-down-box">
                    <li id="profile-icon"><a href="/profile"><i class="fas fa-user-circle fa-2x"></i></a></li>
                    <div class="drop-down">
                        <li class="navbar-links"><a href="/logout">Logout</a></li>
                        <li><a href="/edit">Editar</a></li>
                        <li><a href="/delete">Deletar</a></li>
                    </div>
                </div>
            </ul>
        </div>
    </nav>


    <section class="profile-container">

        <div class="left">
            <div class="up-left">
                <div class="profile-photo">

                    <img src="../../{{visitedProfile.imgPath}}" alt="profile photo">

                    <form action="/profile" method="POST" enctype="multipart/form-data">
                        <div class="photo-button-border">
                            <label for="photo">Mudar Foto</label>
                            <input type="file" name="photo" id="photo" hidden>
                            <input type="submit" value="Salvar" id='save-photo'>
                        </div>
                    </form>
                    <p id="lookingFor-message"><span>Procurando por:</span>{{visitedProfile.lookingFor}}</p>

                    {{#unless invitationId}}
                    {{#unless user}}
                    <form action="/profile/{{visitedProfile._id}}" method="POST">
                        <div class="invitation-button-border">
                            <div class="invitation">
                                <input type="submit" value="Convidar">
                            </div>
                        </div>
                    </form>
                    {{/unless}}
                    {{/unless}}

                    {{#if invitationId}}
                    <div class="invitation-button-border">
                        <div class="invitation">
                            <input type="submit" value="Enviado">
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="name">
                    <div class="name-media">
                        <div class="name-username">
                            <h1>{{visitedProfile.name}} {{visitedProfile.lastName}}</h1>
                            <h4><span>{{visitedProfile.username}}</h4></span>
                        </div>
                        <a href="//www.facebook.com/{{visitedProfile.facebook}}"><i id="face-icon"
                                class="fab fa-facebook-square fa-2x"></i></a>
                        <a href="//www.instagram.com/{{visitedProfile.instagram}}"><i id="insta-icon"
                                class="fab fa-instagram-square fa-2x"></i></a>
                    </div>
                    <div class="up-left-2">
                        <div class="profile">
                            <h4 class="specialty-level">{{visitedProfile.specialty}} ({{visitedProfile.level}})</h4>
                            <p>{{visitedProfile.city}} / {{visitedProfile.state}}</p>
                            <p>{{visitedProfile.musicalInfluence}}</p>
                        </div>
                        <div class="personal-info">
                            {{#if visitedProfile.age}}
                            <p>{{visitedProfile.age}} anos</p>
                            {{/if}}
                            <p>{{visitedProfile.gender}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="down-left">
                <div class="profile-edit">
                    <h1>Biografia</h1>
                    <a id="edit-icon" href="/edit">
                        <i class="fas fa-edit fa-lg" id="edit-icon"></i>
                    </a>
                </div>
                <div class="bio">
                    <p>{{visitedProfile.bio}}</p>
                </div>
            </div>
        </div>

        {{#if user}}
        <div class="email-box">
            <h1>Envie um E-mail para {{visitedProfile.username}}</h1>
            <form action="/send-email" method="post">
                <input type="hidden" name="email" value="{{visitedProfile.email}}">
                <input type="hidden" name="subject"
                    value="BandMate - {{visitedProfile.username}} te enviou uma mensagem">
                <textarea rows="12" cols="50" type="text" name="message" id="email-message" placeholder="Escreva sua mensagem aqui..."></textarea>
                <br>
                <button type="submit">Enviar</button>
            </form>
        </div>
        {{/if}}

    </section>

    <footer>
        <div>

        </div>
    </footer>
</div>