<a href="/logout"><button>Sair</button></a>
<a href="/search"><button>Pesquisar</button></a>
{{#unless username}}
<a href="/delete"><button>Deletar Conta</button></a>
<a href="/edit"><button>Editar</button></a>
{{/unless}}

<h1>{{username}}</h1>
<h1>{{state}}</h1>
<h1>{{city}}</h1>
<h1>{{specialty}}</h1>
<h1>{{musicalInfluence}}</h1>
<h1>{{level}}</h1>
<h1>{{bio}}</h1>

{{#if username}}
<form action="/send-email" method="post">
    <input type="hidden" value="{{email}}" name="email" id="">
    <input type="hidden" value="BandMate - Você recebeu um convite" name="subject" id="">
    <label for="">Deixe uma mensagem para {{username}}:</label>
    <textarea type="text" name="message" id=""></textarea>
    <button type="submit">Convidar</button>
</form>
{{/if}}

{{!-- OTHERS PROFILE --}}
{{#if username}}
<div class="container emp-profile">
    <form action="/profile" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{imgPath}}" alt="profile photo" />
                    <div class="file btn btn-lg btn-primary">
                        Mudar foto do perfil
                        <input type="file" name="photo" />
                        <input type="hidden" value="{{_id}}" name="_id">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{username}}
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Informações Pessoais</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Salvar" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{name}} {{lastName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Especialidade</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{specialty}} {{level}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nível</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{level}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Campo de Conhecimento</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{musicalInfluence}}</p>
                            </div>
                        </div>
                        {{!-- <div class="row">
                            <div class="col-md-6">
                                <label>Influences</label>
                            </div>
                            <div class="col-md-6">
                                <p>Iron Maiden, Metallica, Slayer</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Main Rig</label>
                            </div>
                            <div class="col-md-6">
                                <p>Fender Stratocaster, ESP Snakebyte, Marshall JCM 800</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Studio</label>
                            </div>
                            <div class="col-md-6">
                                <p>Yes</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>One Song</label><br />
                                <p>The Trooper</p>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{{/if}}




{{!-- USER SESSION PROFILE --}}
{{#if user}}
<div class="container emp-profile">
    <form action="/profile" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                        <img src="{{user.imgPath}}" alt="profile photo" />
                    <div class="file btn btn-lg btn-primary">
                        Trocar foto
                        <input type="file" name="photo" />
                    </div>
                </div>
            </div>

            <input type="hidden" value="{{user._id}}" name="_id">

            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{user.username}}
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Informações Pessoais</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Salvar" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.name}} {{user.lastName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Especialidade</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.specialty}} {{user.level}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nível</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.level}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Campo de Conhecimento</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.musicalInfluence}}</p>
                            </div>
                        </div>
                        {{!-- <div class="row">
                            <div class="col-md-6">
                                <label>Influences</label>
                            </div>
                            <div class="col-md-6">
                                <p>Iron Maiden, Metallica, Slayer</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Main Rig</label>
                            </div>
                            <div class="col-md-6">
                                <p>Fender Stratocaster, ESP Snakebyte, Marshall JCM 800</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Studio</label>
                            </div>
                            <div class="col-md-6">
                                <p>Yes</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>One Song</label><br />
                                <p>The Trooper</p>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{{/if}}