<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Profile</title>
</head>

<body>

    <nav class="container-nav">
        <div class="logo">
            <a href="/">
                <p>Band Mate</p>
            </a>
        </div>
        <div>
            <ul class="list">
                <li class="navbar-links"><a href="/search"><i class="fas fa-search"></i></a></li>
                <li class="navbar-links"><a href="#">Sobre</a></li>
                <li class="navbar-links"><a href="/logout">Logout</a></li>
                <li id="profile-icon"><a href="/profile"><i class="fas fa-user-circle fa-2x"></i></a></li>
                <li><a href="/delete">Deletar conta</a></li>
            </ul>
        </div>
    </nav>


    <section>
        <div class="profile-container">
            <div class="left-side">
                <div class="name">
                    <h1>{{user.name}} {{user.lastName}}</h1>
                    <h4>{{user.username}}</h4>
                </div>
                <div class="bio">
                    <p>{{user.bio}}</p>
                </div>
            </div>

            <div class="center">
                <div>
                    <img src="{{user.imgPath}}" alt="profile photo">
                </div>
                <form action="/profile" method="POST" enctype="multipart/form-data">
                    <div class="photo-button-border">
                        <label for="photo">Mudar Foto</label>
                        <input type="file" name="photo" id="photo">
                        <input type="submit" value="Salvar">
                    </div>
                </form>
            </div>

            <div class="right-side">
                <div class="profile">
                    <div class="profile-edit">
                        <h1>Perfil </h1>
                        <a href="/edit">
                            <p><i class="fas fa-edit fa-lg" id="edit-icon"></i></p>
                        </a>
                    </div>
                    <h4 class="specialty-level">{{user.specialty}} ({{user.level}})</h4>
                    <p>{{user.city}} / {{user.state}}</p>
                    <p>{{user.musicalInfluence}}</p>
                    <p>Procurando por: {{user.lookingFor}}</p>
                </div>
                <div class="personal-info">
                    <h1>Informações Pessoais</h1>
                    <p>{{user.facebook}}</p>
                    <p>{{user.instagram}}</p>
                    <p>{{user.email}}</p>
                    {{#if user.age}}
                    <p>{{user.age}} anos</p>
                    {{/if}}
                    <p>{{user.gender}}</p>
                </div>
            </div>
            <div class="invitation-card">
                <h1>Convites</h1>

                {{#each users}}
                <a href="/profile/{{_id}}">{{username}} te convidou</a>
                <br><br>
                <a href="/invitation-accepted/{{_id}}">Aceitar</a>
                {{!-- <a href="/invitation-dennied/{{_id}}">Excluir</a> --}}
                <a href="#">Excluir</a>
                <br>
                <br><br>
                {{/each}}
            </div>
        </div>
    </section>

    <footer>
        <div>

        </div>
    </footer>
</body>

</html>