<div class="profile">

    <nav class="container-nav">
        <div class="logo">
            <a href="/profile">
                <p>BandMate</p>
            </a>
        </div>
        <div>
            <ul class="list">
                <li class="navbar-links"><a href="/search"><i class="fas fa-search"></i></a></li>
                <li class="navbar-links"><a href="#">Sobre</a></li>
                <div class="drop-down-box">
                    <li id="profile-icon"><a href="/profile"><i class="fas fa-user-circle fa-2x"></i></a></li>
                    <div class="drop-down">
                        <li class="navbar-links"><a href="/logout">Logout</a></li>
                        <li><a href="/edit">Editar</a></li>
                        <li><a href="/delete">Deletar</a></li>
                    </div>
                </div>
            </ul>
        </div>
    </nav>


    <section class="profile-container">

        <div class="left">
            <div class="up-left">
                <div class="profile-photo">
                    <img src="{{user.imgPath}}" alt="profile photo">
                    <form action="/profile" method="POST" enctype="multipart/form-data">
                        <div class="photo-button-border">
                            <label for="photo">Mudar Foto</label>
                            <input type="file" name="photo" id="photo" hidden>
                            <input type="submit" value="Salvar" id='save-photo'>
                        </div>
                    </form>
                    <p id="lookingFor-message"><span>Procurando por:</span> {{user.lookingFor}}</p>
                </div>
                <div class="name">
                    <div class="name-media">
                        <div class="name-username">
                            <h1>{{user.name}} {{user.lastName}}</h1>
                            <h4><span>{{user.username}}</h4></span>
                        </div>
                        <a href="//{{user.facebook}}"><i id="face-icon" class="fab fa-facebook-square fa-2x"></i></a>
                        <a href="//{{user.instagram}}"><i id="insta-icon" class="fab fa-instagram-square fa-2x"></i></a>
                    </div>
                    <div class="up-left-2">
                        <div class="profile">
                            <h4 class="specialty-level">{{user.specialty}} ({{user.level}})</h4>
                            <p>{{user.city}} / {{user.state}}</p>
                            <p>{{user.musicalInfluence}}</p>
                        </div>
                        <div class="personal-info">
                            {{#if user.age}}
                            <p>{{user.age}} anos</p>
                            {{/if}}
                            <p>{{user.gender}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="down-left">
                <div class="profile-edit">
                    <h1>Biografia</h1>
                    <a id="edit-icon" href="/edit">
                        <i class="fas fa-edit fa-lg" id="edit-icon"></i>
                    </a>
                </div>
                <div class="bio">
                    <p>{{user.bio}}</p>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="up-right">
                <h1 id="invitation-title">Convites</h1>
                <br>
                {{#each usersRequestingFriendship}}
                <div class="invitation-link">
                    <a href="/profile/{{_id}}"><span>{{username}}</span> te convidou</a>
                    <div class="accept-delete">
                        <a href="/invitation-accepted/{{_id}}">Aceitar</a>
                        <a href="/invitation-refused/{{_id}}">Excluir</a>
                    </div>
                </div>
                <br>
                <br>
                {{/each}}
            </div>
        </div>
    </section>

    <div class="friends">
        <h1>Amigos</h1>
        <div class="cards-container-profile">
            {{#each friends}}
            <div class="profile-card">

                <div class="profile-photo-search">
                    <a href="/profile/{{_id}}"><img src="{{this.imgPath}}" alt="profile photo"></a>
                    <a id="unfriend" href="/delete-friend/{{this._id}}">Desfazer<br>amizade</a>
                </div>

                <div class="info-card">
                    <div class="name-lastname">
                        <a href="/profile/{{_id}}">{{this.name}} {{this.lastName}}</a>
                        <br>
                        <a id="username-link" href="/profile/{{_id}}">{{this.username}}</a>
                    </div>
                    <div class="specialty-level">
                        <br>
                        <p>{{this.specialty}}</p>
                        <p class="level-card">{{this.level}}</p>
                        <br>
                    </div>
                    <div class="musical-influence">
                        <ul>
                            {{#each this.musicalInfluence}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>


</div>